@media only screen  and (max-width:320px) {
   
    header #TextOne p{
        font-size: 30px;
    }

    header #TextTwo ul li{
        display: flex !important;
        justify-content: center !important;
        width: 80px;
        position: relative;
        left: 5px;
    }
    
    

    header #main {
        display: flex;
        flex-direction: column;
    }


    nav {
        display: flex;
        flex-direction: column;
    }

    nav div{
        height: 50px;
    }

    .InputOne{
    
        height: 34px;
        width: 200px;
        position: absolute;
        left: 50px;  
        margin: 15px
    }

    .InputTwo{
        height: 20px;
        width: 100px;
        position: relative;
        top: 40px;
        left: -5px;
        margin: 10px;
   
    }

    nav p{
        font-size: 15px;
        margin: 10px;
    }





    #FirstPost {
        
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
       
    }

    #FirstPost .PostOne {
        margin: 20px;
    }
    
    
    


    #SecondPost {
        
        display: flex !important;
        flex-direction: column !important;
        

    }

    #SecondPost .PostOne {
        margin: 20px;
    }
}

@media only screen  and (max-width:375px) {


 header #TextOne p{
        font-size: 30px;
    }

    header #TextTwo ul li{
        display: flex !important;
        justify-content: center !important;
        width: 80px;
        position: relative;
        left: 5px;
    }
    
    

    header #main {
        display: flex;
        flex-direction: column;
    }


    nav {
        display: flex;
        flex-direction: column;
    }

    nav div{
        height: 50px;
    }

    .InputOne{
    
        height: 34px;
        width: 200px;
        position: absolute;
        left: 50px;  
        margin: 15px
    }

    .InputTwo{
        height: 20px;
        width: 100px;
        position: relative;
        top: 40px;
        left: -5px;
        margin: 10px;
   
    }

    nav p{
        font-size: 15px;
        margin: 10px;
    }





    #FirstPost {
        
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
       
    }

    #FirstPost .PostOne {
        margin: 20px;
    }
    
    
    


    #SecondPost {
        
        display: flex !important;
        flex-direction: column !important;
        

    }

    #SecondPost .PostOne {
        margin: 20px;
    }



}


@media only screen  and (max-width:411px) {


    header #TextOne p{
        font-size: 35px;
    }

    header #TextTwo ul li{
        display: flex !important;
        justify-content: center !important;
        width: 90px;
        position: relative;
        left: 5px;
    }
    
    

    header #main {
        display: flex;
        flex-direction: column;
    }


    nav {
        display: flex;
        flex-direction: column;
    }

    nav div{
        height: 50px;
    }

    .InputOne{
    
        height: 40px;
        width: 220px;
        position: absolute;
        left: 50px;  
        margin: 15px
    }

    .InputTwo{
        height: 30px;
        width: 120px;
        position: relative;
        top: 50px;
        left: 5px;
        margin: 10px;
   
    }

    nav p{
        font-size: 20px;
        margin: 10px;
    }





    #FirstPost {
        
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
       
    }

    #FirstPost .PostOne {
        margin: 20px;
    }
    
    
    


    #SecondPost {
        
        display: flex !important;
        flex-direction: column !important;
        

    }

    #SecondPost .PostOne {
        margin: 20px;
    }
}